.achievements-wrapper {
  @include margin-wrapper();
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.achievements__list {
  @include set-list();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.achievements__list-item {
  position: relative;
  width: 100%;
  min-height: 265px;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 20px;

  background-color: #f2f2f2;
  z-index: 1;
}

.achievements__list-title {
  position: relative;
  margin: 0;
  margin-left: 30px;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;

  color: #000000;
}

.achievements__list-title::before {
  position: absolute;
  left: -15%;
  top: -20%;

  content: " ";

}

.achievements__list-item:first-child .achievements__label::after {
  position: absolute;
  top: 0;
  left: 14%;
  @include set-size(35px, 50px);
  background: url("../../files/img/cat-label.svg") no-repeat;
  background-size: 100%;
  z-index: 2;
  content: "";
}

.achievements__list-item:nth-child(2) .achievements__label::after {
  position: absolute;
  top: 22%;
  left: -19%;

  @include set-size(69px, 56px);

  content: "";
  background: url("../../files/img/tiger-label.svg") no-repeat;
  background-size: 100%;
  z-index: 2;
}

.achievements__title-box {
  display: flex;
}

.achievements__label {
  position: relative;
  @include set-size(50px, 50px);
  border-radius: 50%;
  background-color: #68b738;
  z-index: 2;
}

.achievements__list-desc {
  margin: 30px 0 15px;
  padding-bottom: 23px;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

.achievements__list-link {
  position: relative;

  margin: 0;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;

  &::after {
    position: absolute;
    top: 20%;
    right: -48px;

    @include set-size(32px, 10px);

    content: "";

    background: url("../../files/img/arrow-link.png") no-repeat;
    background-size: 100%;
    z-index: 3;
  }

  &:hover {
    &::after {
      position: absolute;
      top: 20%;
      right: -48px;

      @include set-size(32px, 10px);

      content: "";

      background: url("../../files/img/arrow-link-hover.svg") no-repeat;
      background-size: 100%;
      z-index: 3;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

