.catalog-main {
  background-color: #ffffff;
}

.catalog__title {
  @include margin-wrapper();
  margin-top: 80px;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;

  color: #000000;
}

.catalog__list-wrapper {
  @include margin-wrapper ();
  display: grid;
  grid-template-columns: repeat(4, 250px);
  column-gap: 50px;
  row-gap: 40px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.catalog__card:last-child {

  background-color: #ffffff;
  border: 2px solid #f2f2f2;

  .card__button {
    color: #444444;
    background-color: #f2f2f2;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }

  .card__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card__image::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #d3d3d3;
  }

  .card__image::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #d3d3d3;
    transform: rotate(90deg);
  }

  .card__test-option {
    height: 19px;
    border: none;
  }

  .card__mass-option {
    height: 19px;
    border: none;
  }

  .card__price-option {
    height: 19px;
    border: none;
  }
}

.catalog__card {
  display: grid;
  margin-top: 100px;
  grid-template-columns: 40px 170px 40px;
  grid-template-rows: 170px min-content min-content min-content min-content min-content 60px;
  gap: 0 0;
  grid-auto-flow: row;
  grid-template-areas:
    ". card__image ."
    ". card__title ."
    ". card__mass-option ."
    ". card__test-option ."
    ". card__price-option ."
    ". card__button ."
    ". . .";

  background-color: #f2f2f2;
}

.card__image {
  grid-area: card__image;
  display: flex;
  align-items: flex-end;
}

.card__image-set {
  transform: translateY(-40px);
}

.card__title {
  grid-area: card__title;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 10px;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  color: #222222;
}

.card__mass-option {
  grid-area: card__mass-option;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  text-align: center;

  color: #444444;
  border-bottom: 1px solid #cdcdcd;
}

.card__test-option {
  grid-area: card__test-option;

  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  text-align: center;

  color: #444444;
  border-bottom: 1px solid #cdcdcd;
}

.card__price-option {
  grid-area: card__price-option;
  padding-bottom: 10px;
  padding-top: 10px;

  display: flex;
  justify-content: space-between;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  text-align: center;

  color: #444444;
  border-bottom: 1px solid #cdcdcd;
}

.card__button {
  grid-area: card__button;
  transform: translateY(20px);

  width: 170px;
  min-height: 40px;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-align: center;
  text-transform: uppercase;

  background-color: #68b738;
  color: #ffffff;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.catalog__extragoods-form {
  display: flex;
  width: 100%;
}

.catalog__extragoods-fieldset {
  display: flex;
  width: 100%;
  border: none;
  border-top: 2px solid #68b738;
}

.catalog__extragoods-legend {
  margin-left: 100px;
}

.catalog-wrapper {
  @include margin-wrapper();
  display: flex;
}

.catalog__section-title {
  margin: 0;
  width: 100%;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.catalog__extragoods-list {
  @include set-list();
  display: flex;
  flex-direction: column;
  margin: 80px 0;
  width: 800px;
}

.catalog__extragoods-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px 0;
  box-sizing: border-box;

  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__extragoods-title {
  width: 25%;
  display: block;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  color: #222222;
}

.catalog__extragoods-volume {
  width: 17%;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;


  color: #444444;
}

.catalog__extragoods-price {
  width: 8%;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #444444;
}

.catalog__extragoods-button {
  width: 32%;
  height: 40px;
  border: none;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #68b738;
  color: #ffffff;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.catalog__extragoods-gift {
  position: relative;
  width: 245px;
  height: 290px;
  margin-top: 80px;
  margin-left: 80px;

  background: url("../../files/img/catalog-gift.jpg") no-repeat;
  background-size: 100%;

  .catalog__extragoods-gift-overlay {
    display: flex;
    width: 100%;
    height: 100%;

    background-color: #68b738;
    background-image: url("../../files/img/icons/icon_gift.svg");
    background-repeat: no-repeat;
    background-position: 50% 30%;
    opacity: 0.85;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .catalog__gift-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: flex-end;

    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;

    color: #ffffff;
  }

  .catalog__gift-text {
    margin-bottom: 20px;
  }
}

