.contacts {
  width: 100%;
}

.contacts__title {
  margin: 0;
  width: 50%;
  display: flex;
  align-items: center;

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;

  color: #111111;
}

.contacts__box {
  @include margin-wrapper();
  min-height: 200px;
  display: flex;
  background-color: #ffffff;
  z-index: 2;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0 70px;
  }
}

.contacts__adress {
  width: 50%;
  display: flex;
  align-items: center;

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: end;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.contacts__map {
  width: 100%;
  min-height: 360px;
  display: flex;

  background: url("../../files/img/location.jpg") no-repeat;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    min-height: 400px;
    background: url("../../files/img/location-tablet.jpg") no-repeat;
    background-size: 100%;
  }
}
