.example {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }
}

.example-wrapper {
  @include margin-wrapper();
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    @include margin-wrapper($margin-left: 30px, $margin-right: 30px);
  }
}

.example__title {
  margin: 0;
  margin-left: 20px;
  transform: translateY(20px);

  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }
}

.example__background {
  background-color: #f2f2f2;
}
