.page-footer {
  width: 100%;
  min-height: 150px;
  background-color: #f2f2f2;
}

.page-footer-wrapper {
  @include margin-wrapper ();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}

.page-footer__logo-cat {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social-list {
  @include set-list();
}

.page-footer__list-item {
  @include set-size(100%, 100%);
  margin-right: 25px;
}

.page-footer__link {
  @include set-size(100%, 100%);
}

.page-footer__icon {
  fill: #666666;
  stroke: #666666;

  &:hover {
    fill: #68b738;
    stroke: #68b738;
  }
}

.page-footer__logo-html {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}
