@import "variables";

@mixin margin-wrapper($margin-top:0, $margin-bottom:0, $margin-left: 20px, $margin-right: 20px) {
  margin-top: $margin-top;
  margin-left: $margin-left;
  margin-bottom: $margin-bottom;
  margin-right: $margin-right;
}

@mixin set-list () {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin set-size ($width, $height) {
  width: $width;
  height: $height;
}


.page-header {
  width: 100%;
  margin: 10px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo-image {
  margin-left: 20px;
}

.page-header__main-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page-header__toggle {
  @include set-size(24px, 20px);
  margin-right: 20px;
  border: none;
  background: url("../../files/img/icons/burger.svg") no-repeat;
  background-size: 100%;
}

.page-header__list {
  @include set-list();
  flex-direction: column;
  width: 100%;
}

.page-header__list-item {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}

.page-heder__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  color: #000000;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__link--form {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;

  color: #111111;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__link--active {
  padding-bottom: 5px;
  border-bottom: 2px solid #ffffff;
}

.page-header__link--form--active {
  padding-bottom: 10px;
  border-bottom: 2px solid #68b738;
}
