.results {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}

.results__item {
  width: 45%;
  min-height: 70px;
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    width: 25%;
    margin-right: 40px;
  }
}

.results__number {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.results__desc {
  width: 80px;
  position: absolute;
  transform: translate(-20px, 37px);

  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    width: 128px;
    transform: translate(-20px, 35px);
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
  }
}

.results__resolution {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  justify-self: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  color: #000000;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 0;
    width: 190px;
    font-size: 16px;
    line-height: 24px;
    text-align: end;
  }
}
